*, *::before, *::after {
    box-sizing: border-box;
    /* font-family: 'Nova Square', cursive; */
    font-family: 'Sans-Serif', Arial;
}

:root {
    --hue-neutral: 145;
    
}



body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: o;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 145%, 20%);
    
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px, 10px;
    outline: none;
}





